html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, b, u, i, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    box-sizing: border-box;
}


html, body {
    height:100%;
}

h9{
    font-size: 10;
}

h6{
    font-size: 12px;
}

h7{
    font-size: 10px;
}
  
h1 {
    font-size: 30px;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thecontainer{
    width: 100%;
    max-width: 6000000px;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 0px 20px #999999;
    background-color: white;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.acontainer{
    width: 90%;
    max-width: 700px;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 0px 20px #999999;
    background-color: white;
    margin-bottom: 20px;
}

.box{
    box-shadow: 0px 0px 20px #686767;
}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.form-group input, .form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(134, 134, 134);
    margin-top: 5px;
}   

textarea{
    resize: vertical;
}

button[type="submit"]{
    width : 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    color: darkgray;
    transition: .3s ease background-color;

}

button[type="submit"]:hover{
    background-color: #0F4C81;
}
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color:rgb(61, 223, 128);
    animation: status 4 ease forwards;
}

#status.error{
    background-color: lightcoral;
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}









html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}

body {
    font-family: Now;
    line-height:1
}

a {
    background:transparent
}

a:active, a:hover {
    outline:0
}

b, strong {
    font-weight:bold
}

img {
    border:0
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height:0
}

table {
    border-collapse: collapse;
    border-spacing:0
}

td, th {
    padding:0
}

@font-face {
    font-family: 'DIN-Next-Pro';
    src: url("//cdn.xhbtr.com/assets/2B291A_0_0-6391280441196ce896f4c6942890583f.woff") format("woff");
    font-style: normal;
    font-weight:normal
}

@font-face {
    font-family: 'Palatino';
    src: url("//cdn.xhbtr.com/assets/palatino-24ee7ff9ccc1946378638ef3a9be4469.eot");
    src: url("//cdn.xhbtr.com/assets/palatino-24ee7ff9ccc1946378638ef3a9be4469.eot?#iefix") format("embedded-opentype"), url("//cdn.xhbtr.com/assets/palatino-427acea99e2de122f4dec64337c0861d.woff") format("woff"), url("//cdn.xhbtr.com/assets/palatino-6c74759c12d24101329faa1000b00534.ttf") format("truetype"), url("//cdn.xhbtr.com/assets/palatino-a299cde64c48e9b1db87d065852e73ac.svg#4e073635e17702a480df7649696158d9") format("svg");
    font-style: normal;
    font-weight:400
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url("//cdn.xhbtr.com/assets/AGaramondPro-Regular-b8fdbc1120e6c19e4b489ec81364af03.eot");
    src: url("//cdn.xhbtr.com/assets/AGaramondPro-Regular-b8fdbc1120e6c19e4b489ec81364af03.eot?#iefix") format("embedded-opentype"), 
    url("//cdn.xhbtr.com/assets/AGaramondPro-Regular-e468e79287e997a4c40047f051a6186f.woff") format("woff"), 
    url("//cdn.xhbtr.com/assets/AGaramondPro-Regular-4331174f7f934d9aeeaa0aaf1c29965e.ttf") format("truetype"), 
    url("//cdn.xhbtr.com/assets/AGaramondPro-Regular-805769521114b8c0413c0db2afc285f2.svg#1eabc8b27c1d378ed9b1f5dd58b5095c") format("svg");
    font-style: normal;
    font-weight:400
}


@font-face {
    font-family: Now;
    src: url("fonts/Now-Medium.otf") format("opentype");
         font-weight: 500;
}

i {
    font-style:italic;
}

.navigation-chunk .nav-el-content {
    font-family: Now;
    font-weight: 600;
    font-style: 100;
    font-size: 36px;
    color: #242424;
    letter-spacing: 1px;
    line-height: 21px;
    text-decoration: none;
    padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}

.navigation-element{  
    font-family: Now;
  }


  .text-block {
    font-family: Now;
  }



@media only screen and (max-width: 690px) {
    body {
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
        max-width:100%
    }

    .standard-layout-wrapper {
        margin-top:48px
    }

    .outer-wrapper {
        padding: 1rem !important;
        margin: 0 !important;
        height: auto;
        width:100%
    }

    .container {
        margin: 0;
        padding:0
    }

    .page-element {
        display: static;
        float: none;
        position: static;
        margin-bottom:1rem
    }

    .page-element .element-inner-wrapper.video .video-iframe-wrapper {
        position: relative;
        padding-top:56.25%
    }

    .page-element .element-inner-wrapper.video .video-iframe-wrapper .page-element.video {
        position:relative
    }

    .page-element .element-inner-wrapper.video .video-iframe-wrapper .page-element.video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%
    }

    .page-element .element-inner-wrapper.video-placeholder-image {
        display:none
    }

    .page-element img {
        height: 100%;
        width:100%
    }

    div.image-wrapper {
        position: static;
        margin-bottom:1rem
    }

    div.image-wrapper img {
        height: 100%;
        width:100%
    }

    .standard-layout-wrapper.mobile-vertical .outer-wrapper {
        height: auto;
        width:100%
    }

    .standard-layout-wrapper.mobile-vertical .outer-wrapper .container {
        height: auto;
        width:100%
    }

    body.mobile-horizontal {
        height: 100%;
        width:auto
    }

    body.mobile-horizontal .standard-layout-wrapper {
        height: 100%;
        width: auto;
        margin-top:0
    }

    body.mobile-horizontal .standard-layout-wrapper .outer-wrapper {
        height: 100%;
        width:auto
    }

    body.mobile-horizontal .standard-layout-wrapper .outer-wrapper .container {
        height: 100%;
        width: auto;
        overflow:auto
    }

    body.mobile-horizontal .standard-layout-wrapper .outer-wrapper .container .page-element {
        display: inline-block;
        margin-right: 36px;
        width:100%
    }

    html.flexbox body.mobile-horizontal {
        display: -webkit-flex;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction:column
    }

    html.flexbox body.mobile-horizontal .standard-layout-wrapper {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex:1
    }

    html.flexbox body.mobile-horizontal .container {
        margin-top: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-content: flex-start;
        align-content: flex-start;
        -webkit-align-items: center;
        align-items:center
    }

    html.flexbox body.mobile-horizontal .container .page-element {
        position: relative;
        width: 100%;
        float: none;
        text-align: left;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform:none
    }

    html.flexbox body.mobile-horizontal .container .page-element .element-inner-wrapper .caption {
        position: absolute;
        width:100%
    }
}

@media only screen and (min-width: 691px) {
    .standard-layout-wrapper.freeform {
        height: 100%;
        width: 100%;
        position:relative
    }

    .outer-wrapper.freeform {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        margin:0 !important
    }

    .outer-wrapper.freeform .container.freeform {
        position: relative;
        width: 100%;
        height:100%
    }

    .outer-wrapper.freeform .container.freeform .page-element {
        position: absolute;
        background-color: transparent;
        line-height:0
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper {
        background-color:transparent
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper img {
        width:100%
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper .caption {
        line-height:normal
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.text-block {
        line-height:normal
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.video-placeholder-image {
        display:none
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.video .video-iframe-wrapper {
        position: relative;
        padding-top:56.25%
    }

    .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.video .video-iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%
    }

    .outer-wrapper.freeform .container.freeform .page-element:last-child .element-inner-wrapper {
        margin-right: 0;
        margin-bottom:0
    }

    .outer-wrapper.freeform.horizontal {
        overflow-y: hidden;
        overflow-x:auto
    }

    .outer-wrapper.freeform.vertical {
        overflow-x: hidden;
        overflow-y:auto
    }

    body.admin-edit-ui .outer-wrapper.freeform .container.freeform .ui-resizable-handle {
        background-color:transparent
    }

    body.admin-edit-ui .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.video-placeholder-image {
        display:block
    }

    body.admin-edit-ui .outer-wrapper.freeform .container.freeform .page-element .element-inner-wrapper.video {
        display:none
    }
}

.navigation-chunk {
    background-color:transparent
}

a.navigation-element {
    text-decoration:none
}

.fixed-navigation-section {
    z-index: 10;
    position: fixed;
    background-color:transparent
}

.fixed-navigation-section.bottom-left, .fixed-navigation-section.bottom-right, .fixed-navigation-section.top-left, .fixed-navigation-section.top-right {
    z-index:11
}

.fixed-navigation-section.top-left {
    top: 0;
    left:0
}

.fixed-navigation-section.top-left.horizontal .navigation-chunk {
    float:left
}

.fixed-navigation-section.top-left.horizontal .navigation-chunk.horizontal {
    width:auto
}

.fixed-navigation-section.top-center {
    top: 0;
    left: 0;
    right:0
}

.fixed-navigation-section.top-center.horizontal {
    text-align:center
}

.fixed-navigation-section.top-center.horizontal .navigation-chunk {
    display: inline-block;
    width:auto
}

.fixed-navigation-section.top-right {
    top: 0;
    right:0
}

.fixed-navigation-section.top-right.horizontal .navigation-chunk {
    float: right;
    width:auto
}

.fixed-navigation-section.top-right.horizontal .navigation-chunk.horizontal {
    width:auto
}

.fixed-navigation-section.bottom-left {
    bottom: 0;
    left:0
}

.fixed-navigation-section.bottom-left.horizontal .navigation-chunk {
    float:left
}

.fixed-navigation-section.bottom-left.horizontal .navigation-chunk.vertical {
    float: left;
    width:auto
}

.fixed-navigation-section.bottom-left.horizontal .navigation-chunk.horizontal {
    float: left;
    width:auto
}

.fixed-navigation-section.bottom-center {
    bottom: 0;
    left: 0;
    right:0
}

.fixed-navigation-section.bottom-center.horizontal {
    text-align:center
}

.fixed-navigation-section.bottom-center.horizontal .navigation-chunk {
    display: inline-block;
    width:auto
}

.fixed-navigation-section.bottom-right {
    bottom: 0;
    right:0
}

.fixed-navigation-section.bottom-right.horizontal .navigation-chunk {
    float:right
}

.fixed-navigation-section.bottom-right.horizontal .navigation-chunk.vertical {
    float: right;
    width:auto
}

.navigation-chunk.top-left.vertical {
    text-align:left
}

.navigation-chunk.top-left.vertical .navigation-element {
    display:block
}

.navigation-chunk.top-left.horizontal {
    width: 100%;
    text-align:left
}

.navigation-chunk.top-left.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.top-center.vertical {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right:auto
}

.navigation-chunk.top-center.vertical .navigation-element {
    display:block
}

.navigation-chunk.top-center.horizontal {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right:auto
}

.navigation-chunk.top-center.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.top-right.vertical {
    width: 100%;
    text-align:right
}

.navigation-chunk.top-right.vertical .navigation-element {
    display:block
}

.navigation-chunk.top-right.horizontal {
    width: 100%;
    text-align:right
}

.navigation-chunk.top-right.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.middle-left, .navigation-chunk.middle-right {
    display: block;
    position: fixed;
    top:50%
}

.navigation-chunk.middle-left.vertical {
    text-align: center;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg)
}

.navigation-chunk.middle-left.vertical .navigation-element {
    display:block
}

.navigation-chunk.middle-left.horizontal {
    text-align: center;
    left: -120px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg)
}

.navigation-chunk.middle-left.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.middle-right.vertical {
    text-align: center;
    right: 0;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg)
}

.navigation-chunk.middle-right.vertical .navigation-element {
    display:block
}

.navigation-chunk.middle-right.horizontal {
    text-align: center;
    right: -120px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg)
}

.navigation-chunk.middle-right.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.bottom-left.vertical {
    width: 100%;
    text-align: left;
    bottom:0
}

.navigation-chunk.bottom-left.vertical .navigation-element {
    display:block
}

.navigation-chunk.bottom-left.horizontal {
    width: 100%;
    text-align: left;
    bottom:0
}

.navigation-chunk.bottom-left.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.bottom-center.vertical {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom:0
}

.navigation-chunk.bottom-center.vertical .navigation-element {
    display:block
}

.navigation-chunk.bottom-center.horizontal {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom:0
}

.navigation-chunk.bottom-center.horizontal .navigation-element {
    display:inline-block
}

.navigation-chunk.bottom-right.vertical {
    width: 100%;
    text-align: right;
    bottom:0
}

.navigation-chunk.bottom-right.vertical .navigation-element {
    display:block
}

.navigation-chunk.bottom-right.horizontal {
    width: 100%;
    text-align: right;
    bottom:0
}

.navigation-chunk.bottom-right.horizontal .navigation-element {
    display:inline-block
}

.page-element {
    opacity:0
}

body.admin-edit-ui .page-element {
    opacity:1
}

.container.vertical .page-element img {
    max-width:100%
}

@media only screen and (min-width: 691px) {
    .container.sequence .page-element .element-inner-wrapper.video-placeholder-image {
        display:none
    }

    .container.vertical.sequence .page-element .element-inner-wrapper.video .video-iframe-wrapper {
        position: relative;
        padding-top:56.25%
    }

    .container.vertical.sequence .page-element .element-inner-wrapper.video .video-iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%
    }

    .container.vertical.sequence.near {
        text-align:left
    }

    .container.vertical.sequence.near .page-element {
        display:block
    }

    .container.vertical.sequence.near .page-element .element-inner-wrapper.video {
        margin-right:auto
    }

    .container.vertical.sequence.center {
        text-align:center
    }

    .container.vertical.sequence.center .page-element {
        display:block
    }

    .container.vertical.sequence.center .page-element .element-inner-wrapper.video {
        margin-left: auto;
        margin-right:auto
    }

    .container.vertical.sequence.far {
        text-align:right
    }

    .container.vertical.sequence.far .page-element {
        display:block
    }

    .container.vertical.sequence.far .page-element .element-inner-wrapper.video {
        margin-left:auto
    }

    .container.vertical.sequence.full {
        text-align:center
    }

    .container.vertical.sequence.full .page-element {
        display: block;
        width:100%
    }

    .container.vertical.sequence.full .page-element img {
        width:100%
    }

    .container.vertical.pile.near {
        text-align:left
    }

    .container.vertical.pile.near .page-element {
        display:inline-block
    }

    .container.vertical.pile.center {
        text-align:center
    }

    .container.vertical.pile.center .page-element {
        display:inline-block
    }

    .container.vertical.pile.far {
        text-align:right
    }

    .container.vertical.pile.far .page-element {
        display:inline-block
    }

    .container.vertical.pile.full .page-element {
        display: block;
        width:100%
    }

    .container.vertical.pile.full .page-element img {
        width:100%
    }

    .outer-wrapper.horizontal {
        height:100%
    }

    .container.horizontal {
        height: 100%;
        text-align: left;
        display:block
    }

    .container.horizontal .page-element {
        position: relative;
        float:left
    }

    .container.horizontal .page-element img {
        max-height:100%
    }

    .container.horizontal .page-element.text-block {
        width:400px
    }

    .container.horizontal.sequence.near .page-element {
        top:0
    }

    .container.horizontal.sequence.center .page-element {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform:translateY(-50%)
    }

    .container.horizontal.sequence.far .page-element {
        top: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform:translateY(-100%)
    }

    .container.horizontal.sequence.full .page-element {
        height:100%
    }

    .container.horizontal.sequence.full .page-element .page-element-inner-wrapper {
        height:100%
    }

    .container.horizontal.sequence.full .page-element .page-element-inner-wrapper img {
        height:100%
    }

    html.flexbox .container.horizontal.sequence {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    html.flexbox .container.horizontal.sequence .page-element {
        position: relative;
        float: none;
        text-align: left;
        -webkit-flex-shrink: 0;
        flex-shrink:0
    }

    html.flexbox .container.horizontal.sequence .page-element .element-inner-wrapper .caption {
        position: absolute;
        width:100%
    }

    html.flexbox .container.horizontal.sequence.near {
        -webkit-align-items: flex-start;
        align-items:flex-start
    }

    html.flexbox .container.horizontal.sequence.center {
        -webkit-align-items: center;
        align-items:center
    }

    html.flexbox .container.horizontal.sequence.center .page-element {
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform:none
    }

    html.flexbox .container.horizontal.sequence.center .page-element.image .image-caption {
        position:absolute
    }

    html.flexbox .container.horizontal.sequence.far {
        -webkit-align-items: flex-end;
        align-items:flex-end
    }

    html.flexbox .container.horizontal.sequence.far .page-element {
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform:none
    }

    html.flexbox .container.horizontal.sequence.full {
        -webkit-align-items: stretch;
        align-items:stretch
    }

    .container.horizontal.pile {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    .container.horizontal.pile .page-element {
        position: relative;
        float: none;
        text-align:left
    }

    .container.horizontal.pile.near {
        -webkit-justify-content: flex-start;
        justify-content:flex-start
    }

    .container.horizontal.pile.center {
        -webkit-justify-content: center;
        justify-content:center
    }

    .container.horizontal.pile.far {
        -webkit-justify-content: flex-end;
        justify-content:flex-end
    }

    .container.horizontal.pile.full {
        -webkit-justify-content: space-between;
        justify-content:space-between
    }

    .nav-rail.near-vertical-rail, .nav-rail.far-vertical-rail {
        position: static;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    .nav-rail.near-vertical-rail .static-navigation-section, .nav-rail.far-vertical-rail .static-navigation-section {
        position:static
    }

    .nav-rail.near-vertical-rail .static-navigation-section.top-left, .nav-rail.far-vertical-rail .static-navigation-section.top-left {
        -webkit-align-self: flex-start;
        align-self:flex-start
    }

    .nav-rail.near-vertical-rail .static-navigation-section.bottom-left, .nav-rail.far-vertical-rail .static-navigation-section.bottom-left {
        -webkit-align-self: flex-end;
        align-self:flex-end
    }

    .outer-wrapper.nav-rails-vertical {
        position:static
    }

    .outer-wrapper.nav-rails-vertical .container.horizontal {
        position:static
    }

    .outer-wrapper.single .container.single .page-element {
        display:none
    }

    .outer-wrapper.single .container.single .page-element.live {
        display:block
    }

    .outer-wrapper.single.nav-fixed .container.single {
        display:none
    }

    .outer-wrapper.single.text-page-wrapper.nav-fixed .container.single {
        display:block
    }

    .outer-wrapper.single.nav-static .container.single {
        text-align:center
    }

    .outer-wrapper.single.nav-static .container.single .page-element {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform:translateY(-50%)
    }

    .container.single.text-page-container {
        display:block
    }
}

img.srcNotLoaded, img.srcError {
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -ms-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition:opacity 0s
}

img.srcLoaded {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition:opacity 0.4s
}

.fixed-navigation-overlay {
    pointer-events:none
}

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0px;
    right: auto;
    bottom: 0;
    left: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color:rgba(255, 255, 255, 0.9)
}

@media only screen and (min-width: 691px) {
    .lightbox.single.nav-fixed {
        display: block;
        z-index:5
    }

    .lightbox.single.nav-static {
        display:none
    }
}

.lightbox {
    padding:2rem
}

.lightbox-inner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center
}

.lightbox-inner-wrapper .page-element {
    width: 100%;
    max-height:100%
}

.lightbox-inner-wrapper .page-element .image-caption, .lightbox-inner-wrapper .page-element .video-caption {
    flex: 0 0 auto;
    min-height: 0;
    overflow:hidden
}

.lightbox-inner-wrapper .page-element .caption-inner {
    margin-top:1rem
}

.lightbox-inner-wrapper .page-element .element-inner-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
    display: flex;
    align-items: safe;
    justify-content:center
}

.lightbox-inner-wrapper .page-element .element-inner-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit:contain
}

.lightbox-inner-wrapper .page-element .element-inner-wrapper.text-block {
    display:block
}

.lightbox-inner-wrapper p {
    margin-bottom:1em
}

.lightbox-inner-wrapper p:last-child {
    margin-bottom:0
}

.lightbox .lightbox-inner-wrapper .page-element {
    display: none;
    margin:0 0 0 0
}

.lightbox .lightbox-inner-wrapper .page-element.live {
    display: flex;
    flex-direction:column
}

.lightbox .lightbox-inner-wrapper .page-element.text-block {
    max-width: 75%;
    margin: 0 auto;
    overflow-y:scroll
}

.lightbox .lightbox-inner-wrapper .page-element.video .element-inner-wrapper.video .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    overflow:hidden
}

.lightbox .lightbox-inner-wrapper .page-element.video .element-inner-wrapper.video .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

.lightbox-image-container {
    background-color:transparent
}

.lightbox-caption-container {
    margin-top: 20px;
    background-color:transparent
}

.lightbox img:hover {
    cursor:e-resize
}

.lightbox iframe:hover {
    cursor:e-resize
}

.lightbox .element-inner-wrapper.text-block:hover {
    cursor:e-resize
}

.lightbox.single-element img:hover {
    cursor:auto
}

.lightbox.single-element iframe:hover {
    cursor:auto
}

.lightbox.single-element .element-inner-wrapper.text-block:hover {
    cursor:auto
}

@media only screen and (min-width: 691px) {
    #mobile-nav-wrapper {
        display:none
    }
}

@media only screen and (max-width: 690px) {
    .fixed-navigation-section, .static-navigation-section, .nav-rail {
        display:none
    }

    #mobile-nav-wrapper {
        display: block;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color:rgb(255, 255, 255)
    }

    #mobile-nav-wrapper .mobile-header {
        position: relative;
        z-index: 99;
        height: 48px;
        padding:12px
    }

    #mobile-nav-wrapper .mobile-header .toggle-wrapper {
        text-align:right
    }

    #mobile-nav-wrapper .mobile-header .toggle-wrapper a svg {
        width:20px
    }

    #mobile-nav-wrapper.nav-open {
        height:100%
    }

    #mobile-nav-wrapper.nav-open .mobile-header {
        position: fixed;
        width:100%
    }

    #mobile-nav-wrapper ul#mobile-nav {
        padding: 48px 12px 24px 12px;
        margin: 0 0 12px 0;
        max-height: 100%;
        overflow-y: scroll;
        list-style: none;
        display:none
    }
}

.fixed-navigation-section, .static-navigation-section, .navigation-chunk, .navigation-element {
    pointer-events:none
}

.navigation-chunk {
    background-color: transparent;
    pointer-events:none
}

.navigation-element {
    line-height: 0;
    background-color: transparent;
    pointer-events:none
}

.navigation-element .nav-el-content {
    line-height: normal;
    position: relative;
    pointer-events:auto
}

a.nav-el-content {
    text-decoration:none
}

@media only screen and (min-width: 691px) {
    .standard-layout-wrapper.nav-static {
        display: -webkit-flex;
        display: flex;
        height: 100%;
        max-height:100%
    }

    .standard-layout-wrapper.nav-static .outer-wrapper {
        -webkit-flex: 1;
        flex: 1;
        position:relative
    }

    .standard-layout-wrapper.nav-static .outer-wrapper .container {
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right:0
    }

    .standard-layout-wrapper.horizontal {
        height:100%
    }

    .standard-layout-wrapper.vertical {
        width:100%
    }

    .standard-layout-wrapper.nav-static.nav-rails-horizontal {
        -webkit-flex-direction: column;
        flex-direction:column
    }

    .standard-layout-wrapper.vertical.nav-static.nav-rails-horizontal {
        display:block
    }

    .standard-layout-wrapper.vertical.nav-static.nav-rails-horizontal .outer-wrapper {
        display: block;
        position:static
    }

    .standard-layout-wrapper.vertical.nav-static.nav-rails-horizontal .outer-wrapper .container {
        position:static
    }

    .standard-layout-wrapper.nav-static.nav-rails-vertical {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap:nowrap
    }

    .standard-layout-wrapper.nav-static.nav-rails-vertical .outer-wrapper {
        position:static
    }

    .standard-layout-wrapper.nav-static.nav-rails-vertical .outer-wrapper .container {
        position:static
    }

    .standard-layout-wrapper.nav-static.nav-rails-vertical .outer-wrapper.horizontal {
        -webkit-flex-grow: 0;
        flex-grow:0
    }
}

.nav-rail {
    display: inline-block;
    position:relative
}

.nav-rail.near-vertical-rail, .nav-rail.far-vertical-rail {
    height: 100%;
    vertical-align:top
}

.nav-rail.near-vertical-rail .static-navigation-section, .nav-rail.far-vertical-rail .static-navigation-section {
    width:100%
}

.nav-rail.near-horizontal-rail, .nav-rail.far-horizontal-rail {
    width:100%
}

.nav-rail.near-horizontal-rail .static-navigation-section, .nav-rail.far-horizontal-rail .static-navigation-section {
    position:static
}

.nav-rail.near-horizontal-rail .static-navigation-section .navigation-chunk.horizontal, .nav-rail.far-horizontal-rail .static-navigation-section .navigation-chunk.horizontal {
    width: auto;
    display:inline-block
}

.nav-rail.near-horizontal-rail .static-navigation-section.horizontal .navigation-chunk, .nav-rail.far-horizontal-rail .static-navigation-section.horizontal .navigation-chunk {
    display: inline-block;
    width:auto
}

.nav-rail.near-horizontal-rail .static-navigation-section.horizontal .navigation-chunk.top-right, .nav-rail.near-horizontal-rail .static-navigation-section.horizontal .navigation-chunk.bottom-right, .nav-rail.far-horizontal-rail .static-navigation-section.horizontal .navigation-chunk.top-right, .nav-rail.far-horizontal-rail .static-navigation-section.horizontal .navigation-chunk.bottom-right {
    float: right;
    position: relative;
    width:auto
}

.nav-rail.near-horizontal-rail .static-navigation-section.top-center.vertical .navigation-chunk, .nav-rail.near-horizontal-rail .static-navigation-section.bottom-center.vertical .navigation-chunk, .nav-rail.far-horizontal-rail .static-navigation-section.top-center.vertical .navigation-chunk, .nav-rail.far-horizontal-rail .static-navigation-section.bottom-center.vertical .navigation-chunk {
    display:block
}

.static-navigation-section {
    position: absolute;
    background-color:transparent
}

.static-navigation-section.top-left {
    top: 0;
    left: 0;
    float:left
}

.static-navigation-section.top-center {
    top: 0;
    left: 0;
    right: 0;
    text-align:center
}

.static-navigation-section.bottom-left {
    bottom: 0;
    left: 0;
    float:left
}

.static-navigation-section.top-right {
    top: 0;
    right: 0;
    float:right
}

.static-navigation-section.bottom-center {
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center
}

.static-navigation-section.bottom-center.vertical .navigation-chunk {
    display:block
}

.static-navigation-section.bottom-right {
    bottom: 0;
    right: 0;
    float:right
}

.page-element.text-block div {
    background-color:inherit
}

@media only screen and (min-width: 691px) {
    .container.columns .page-element .element-inner-wrapper.video, .container.rows .page-element .element-inner-wrapper.video, .container.grid .page-element .element-inner-wrapper.video {
        display:none
    }

    .container.vertical.rows .page-element {
        height: 200px;
        display:inline-block
    }

    .container.vertical.rows .page-element .element-inner-wrapper {
        height:100%
    }

    .container.vertical.rows .page-element .element-inner-wrapper img {
        height:100%
    }

    .container.vertical.rows .page-element .element-inner-wrapper .image-caption, .container.vertical.rows .page-element .element-inner-wrapper .video-caption {
        display:none
    }

    .container.vertical.rows.near {
        text-align:left
    }

    .container.vertical.rows.center {
        text-align:center
    }

    .container.vertical.rows.far {
        text-align:right
    }

    .container.vertical.rows.full {
        text-align:center
    }

    .container.vertical.grid .page-element {
        height: 220px;
        width: 220px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        text-align:center
    }

    .container.vertical.grid .page-element .element-inner-wrapper {
        display: block;
        height: 220px;
        width:220px
    }

    .container.vertical.grid .page-element .element-inner-wrapper img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 200px;
        max-width:200px
    }

    .container.vertical.grid .page-element .element-inner-wrapper .caption {
        position: absolute;
        display:none
    }

    .container.vertical.grid.near {
        text-align:left
    }

    .container.vertical.grid.center, .container.vertical.grid.full {
        text-align:center
    }

    .container.vertical.grid.far {
        text-align:right
    }

    .container.vertical.columns .page-element {
        width:200px
    }

    .container.vertical.columns .page-element .element-inner-wrapper img {
        width:200px
    }

    .container.vertical.columns .page-element .element-inner-wrapper .image-caption, .container.vertical.columns .page-element .element-inner-wrapper .video-caption {
        display:none
    }

    .container.vertical.columns.near {
        margin:0 auto 0 0
    }

    .container.vertical.columns.center {
        margin:0 auto
    }

    .container.vertical.columns.far {
        margin:0 0 0 auto
    }

    .container.vertical.columns.full {
        margin:0 auto
    }

    .container.horizontal.columns {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    .container.horizontal.columns .page-element {
        width: 200px;
        position: relative;
        float:none
    }

    .container.horizontal.columns .page-element .element-inner-wrapper {
        width:100%
    }

    .container.horizontal.columns .page-element .element-inner-wrapper img {
        width:100%
    }

    .container.horizontal.columns .page-element .element-inner-wrapper .image-caption, .container.horizontal.columns .page-element .element-inner-wrapper .video-caption {
        display:none
    }

    .container.horizontal.columns.near {
        -webkit-justify-content: flex-start;
        justify-content:flex-start
    }

    .container.horizontal.columns.center {
        -webkit-justify-content: center;
        justify-content:center
    }

    .container.horizontal.columns.far {
        -webkit-justify-content: flex-end;
        justify-content:flex-end
    }

    .container.horizontal.columns.full {
        -webkit-justify-content: space-between;
        justify-content:space-between
    }

    .container.horizontal.rows {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    .container.horizontal.rows .page-element {
        height: 200px;
        position: relative;
        float:none
    }

    .container.horizontal.rows .page-element .element-inner-wrapper {
        height:100%
    }

    .container.horizontal.rows .page-element .element-inner-wrapper img {
        height:100%
    }

    .container.horizontal.rows.near {
        -webkit-justify-content: flex-start;
        justify-content:flex-start
    }

    .container.horizontal.rows.center {
        -webkit-justify-content: center;
        justify-content:center
    }

    .container.horizontal.rows.far {
        -webkit-justify-content: flex-end;
        justify-content:flex-end
    }

    .container.horizontal.rows.full {
        -webkit-justify-content: space-between;
        justify-content:space-between
    }

    .container.horizontal.grid {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: flex-start;
        align-content:flex-start
    }

    .container.horizontal.grid .page-element {
        position: relative;
        float: none;
        height: 220px;
        width: 220px;
        overflow: hidden;
        text-align:center
    }

    .container.horizontal.grid .page-element .element-inner-wrapper {
        display: block;
        height: 220px;
        width:220px
    }

    .container.horizontal.grid .page-element .element-inner-wrapper img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 200px;
        max-width:200px
    }

    .container.horizontal.grid .page-element .element-inner-wrapper .image-caption, .container.horizontal.grid .page-element .element-inner-wrapper .video-caption {
        display:none
    }

    .container.horizontal.grid.near {
        -webkit-justify-content: flex-start;
        justify-content:flex-start
    }

    .container.horizontal.grid.center {
        -webkit-justify-content: center;
        justify-content:center
    }

    .container.horizontal.grid.far {
        -webkit-justify-content: flex-end;
        justify-content:flex-end
    }

    .container.horizontal.grid.full {
        -webkit-justify-content: space-between;
        justify-content:space-between
    }
}

body.debug .standard-layout-wrapper {
    background-color:pink
}

body.debug #outer-wrapper {
    background-color:green
}

body.debug #container {
    background-color: #313131
}

